{% extends "mainapp/catalog/base_category.html" %}
{% load staticfiles %}

{% block titel %}
	Apple
{% endblock %}


{% block nav_product %}
	    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle active">
	    	Apple
	{% endblock %}      

	{% block main %}
		<div class="marketing">
	      <div class="row">
	      	{% for prod in products_apple %}
	        <div class="col-lg-4 ">
	        	<div class ="container_cover">
	            	<img class="img-fluid" src="{{prod.img_2.url}}" alt="{{prod.name}}" width="340" height="340">
		            <a href="#" class="overlay">
						<div class="text_cover">
							<h3>Описание</h3>
							<p>{{prod.description}}
							</p>
						</div>
					</a>
				</div>
	            <h2>{{product.name}}</h2>
	            <p>{{prod.short_desc}}</p>
	            <p class="price">Цена: {{prod.price}} рублей</p>
	            <p><a class="btn btn-secondary" href="#" role="button">В корзину &nbsp;<i class="fa fa-shopping-basket" aria-hidden="true"></i></a></p>
	        </div>
	        {% endfor %}
	      </div>
	    </div>
	 {% endblock %}
